@import "../../../styles/all.inc.scss";

.profile-pic {
    position: relative;

    .pic,
    .avatar {
        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 75px;
        }
    }

    .icon {
        position: absolute;
        bottom: 0;
        right: 10px;
        width: 50px;

        img {
            opacity: 0.95;
            border-radius: 15px;
            max-width: 50px;
        }
    }

    .name p {
        text-align: center;
    }
}