@import "../all.inc.scss";
@import "./file-drop.scss";

.hide {
  display: none;
}

*::selection {
  background: #444;
  color: #fff;
}


// custom react-router link
#popup-menu {
  *:focus {
    outline: none;
  }
}

a:not(.default) {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}

button {
  &[class*="rounded"] {
    border-radius: 100px;
  }

  &.rounded-padd {
    padding: 8px 20px;
  }
}

// custom material ui
li.popup-menu-item {
  width: 130px;
}

button.small {
  min-width: auto;
}

button.naked {
  box-shadow: none;
  background: transparent;

  &:hover {
    background-color: $lgray;
  }
}