nav .toggle-nav {
  display: none;
  margin-right: 20px;
}

.side-list {
  width: 300px;
  height: 100%;
  border-radius: 100px;
  padding-top: 50px;
  ul {
    a {
      div {
        padding: 20px 50px;
        margin: 5px 0;
      }
    }
  }
}

// responsive
@media only screen and (max-width: 900px) {
  nav .toggle-nav {
    display: block;
  }
  nav menu ul {
    display: none;
  }
}
