.page {
    .check {
        .content {
            margin-top: 200px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;



            .text-field,
            .check-button {
                margin: auto;
                width: auto;
                height: auto;
            }

            .text-field {
                min-width: 70%;
                margin-bottom: 40px;
            }
        }

        .data {
            margin-bottom: 200px;
            margin-top: 20px;
        }
    }
}