.section {
  width: 70%;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin: 50px auto;

  img {
    border-radius: 10px;
  }
  img,
  .name {
    margin: auto;
  }
}

.section-link {
  position: relative;
  transition: all 200ms ease-in-out;
  flex-basis: 26%;
  margin: 15px 0;
}
.section-link:hover {
  transform: scale(1.15);
  z-index: 1;
}
