@import "../../../styles/all.inc.scss";

.section {
  display: flex;
  flex-direction: column;

  img {
    border-radius: 10px;
  }

  img,
  .name {
    margin: auto;
  }

  .name {
    margin-top: 8px;
  }
}


.section-link {
  width: 90px;
  padding: 40px 40px;
  margin: 30px 60px;
  position: relative;
  transition: all 200ms ease-in-out;
  border: 1px solid transparent;
}

.section-link:hover {
  background-color: rgba($color: $accent, $alpha: 0.2);
  border: 1px solid $daccent;
  border-radius: 4px;
}