.section {
  width: 100%;
  display: flex;
  flex-direction: column;

  margin: 50px 0;

  img {
    border-radius: 10px;
  }
  img,
  .name {
    margin: auto;
  }
}

.section-link {
  position: relative;
  transition: all 200ms ease-in-out;
  flex-basis: 20%;
}
.section-link:hover {
  transform: scale(1.15);
  z-index: 1;
}
